<section id="skills" class="site-section section-skills">
    <div class="container">
        <div class="text-center">
            <h3>My Skills</h3>
            <img src="assets/img/lines.svg" class="img-lines" alt="lines">
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="skill">
                    <h4>C#</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="100"></div><!-- /.progress-bar -->
                    </div><!-- /.progress -->
                </div><!-- /.skill -->
                <div class="skill">
                    <h4>VB .Net</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="100"></div><!-- /.progress-bar -->
                    </div><!-- /.progress -->
                </div><!-- /.skill -->
            </div>
            <div class="col-md-3">
                <div class="skill">
                    <h4>Blazor</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="85"></div><!-- /.progress-bar -->
                    </div><!-- /.progress -->
                </div><!-- /.skill -->
                <div class="skill">
                    <h4>Angular</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="30"></div><!-- /.progress-bar -->
                    </div><!-- /.progress -->
                </div><!-- /.skill -->
            </div>
            <div class="col-md-3">
                <div class="skill">
                    <h4>Javascript</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="80"></div><!-- /.progress-bar -->
                    </div><!-- /.progress -->
                </div><!-- /.skill -->
                <div class="skill">
                    <h4>HTML/CSS</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="85"></div><!-- /.progress-bar -->
                    </div><!-- /.progress -->
                </div><!-- /.skill -->
            </div>
  <div class="col-md-3">
                <div class="skill">
                    <h4>SQL</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="95"></div><!-- /.progress-bar -->
                    </div><!-- /.progress -->
                </div><!-- /.skill -->
                <div class="skill">
                    <h4>web Services</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="90"></div><!-- /.progress-bar -->
                    </div><!-- /.progress -->
                </div><!-- /.skill -->
            </div>
        </div>
    </div>
</section><!-- /.secton-skills -->


