<main id="main" class="site-main">

    <section id="about" class="site-section section-about text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>About</h2>
                    <img src="assets/img/lines.svg" class="img-lines" alt="lines">
                    <p>Developer analist with 12 years of experience in .Net and .Net Core (c#, Visual Estudio, Blazor), management of databases (Sql Server, Mysql, Oracle), integration through web services and API Rest with systems (ERP, Ecommerce, WMS, CRM, etc.).

I have open actitude for to work with teams or alone, capacibility for analyst situations, develop fast solutions and neatly, i like learning, goods relationship with people, hability in logical analysis, service actitude, positive actitude for to receive observations.</p>
                    <a href="Hoja_de_vida_Elkin.pdf" class="btn btn-fill" target="_blank" download>Download my cv</a>						
                </div>
            </div>
        </div>
    </section><!-- /.secton-about -->

    
<app-skills></app-skills>

<app-services></app-services>

 <app-portfolio> </app-portfolio>

 <app-contact></app-contact>

    
</main><!-- /#main -->

