<!-- Modals -->
<div id="portfolioItem1" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
          <img class="img-res" src="assets/Images/Dislicores_Store.png" alt="">
        </div>
        <div class="modal-body">
          <h4 class="modal-title">Integration ERP Siesa and VTEX</h4>
          <p>Throught technology .Net, developed a integration for Dislicores whit the purpouse of to linked the inventary and SKUs, as well as costumers bills, etc., this proyect developed during 6 months</p>
        </div>
        <div class="modal-footer">
          <a href="https://www.dislicores.com/" class="btn btn-fill">Visit Page</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    


    <div id="portfolioItem2" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
          <img class="img-res" src="assets/Images/Gosocket_2.jpg" alt="">
        </div>
        <div class="modal-body">
          <h4 class="modal-title">Gosocket Integration</h4>
          <p>Throug technology .Net Core 3.1 builded a portal for load data for send to the DIAN Throught a API that exponed for Gosocket this proyect during 6 months.</p>
        </div>
        <div class="modal-footer">
          <a href="http://107.6.54.20:8091/" class="btn btn-fill">Visit Page</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    



    <div id="portfolioItem3" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
          <img class="img-res" src="assets/Images/Amovil_toma_pedidos.PNG" alt="">
        </div>
        <div class="modal-body">
          <h4 class="modal-title">Integration Amovil - Saint ERP</h4>
          <p>It developed a Web Service with technology .Net Framework 4.7.2 in Soap protocol, It was exponed for be consumed for movile systems of Amovil this proyect during 6 months.</p>
        </div>
        <div class="modal-footer">
          <a href="http://107.6.54.20:3188/WebService1.asmx" class="btn btn-fill">Visit Page</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    


    <div id="portfolioItem4" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
          <img class="img-res" src="assets/Images/Amovil_toma_pedidos.PNG" alt="">
        </div>
        <div class="modal-body">
          <h4 class="modal-title">Project title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-fill">Visit Page</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div id="portfolioItem5" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
          <img class="img-res" src="assets/img/portfolio-5.jpg" alt="">
        </div>
        <div class="modal-body">
          <h4 class="modal-title">Project title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-fill">Visit Page</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div id="portfolioItem6" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
          <img class="img-res" src="assets/img/portfolio-6.jpg" alt="">
        </div>
        <div class="modal-body">
          <h4 class="modal-title">Project title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-fill">Visit Page</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->