<section id="portfolio" class="site-section section-portfolio">
    <div class="container">
        <div class="text-center">
            <h3>Some Projects</h3>
            <img src="assets/img/lines.svg" class="img-lines" alt="lines">
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="portfolio-item">
                    <img src="images/Cerca.jpg" class="img-fluid" alt="">
                    <div class="portfolio-item-info">
                        <h4>Integration with WMS Cerca</h4>
                        <a href="#" data-toggle="modal" data-target="#portfolioItem1"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-link"></span></a>
                    </div><!-- /.portfolio-item-info -->
                </div><!-- /.portfolio-item -->
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="portfolio-item">
                    <img src="images/VTEX.png" class="img-fluid" alt="">
                    <div class="portfolio-item-info">
                        <h4>Integration with Ecommerce VTEX</h4>
                        <a href="#" data-toggle="modal" data-target="#portfolioItem2"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-link"></span></a>
                    </div><!-- /.portfolio-item-info -->
                </div><!-- /.portfolio-item -->
            </div>                   
            <div class="col-md-4 col-xs-6">
                <div class="portfolio-item">
                    <img src="images/Amovil.png" class="img-fluid" alt="">
                    <div class="portfolio-item-info">
                        <h4>Integration with A-Movil System</h4>
                        <a href="#" data-toggle="modal" data-target="#portfolioItem4"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-link"></span></a>
                    </div><!-- /.portfolio-item-info -->
                </div><!-- /.portfolio-item -->
            </div>
          
        </div>
    </div>
</section><!-- /.secton-portfolio -->