
<section id="service" class="site-section section-skills">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3>What i do</h3>
              <img src="assets/img/lines.svg" class="img-lines" alt="lines">
          </div>
          <div class="col-sm-4">
              <div class="service">
                  <img src="assets/img/front-end.svg" alt="Front End Developer">
                  <h4>Front-end</h4>
                  <p>I development for components in .Net Core with Blazor (3.1, 5, 6), HTML5, CSS3 with Bootstrap and javascript and currently I am developent in Angular 13</p>
              </div><!-- /.service -->
          </div>
          <div class="col-sm-4">
              <div class="service">
                  <img src="assets/img/back-end.svg" alt="Back End Developer">
                  <h4>Back-end and Integrations</h4>
                  <p>I have experience in .Net (C#, VB .Net) for desktop, and development Web with Web Forms, Web Service SOAP and APIS Rest, currently i development in .Net Core</p>
              </div><!-- /.service -->
          </div>
          <div class="col-sm-4">
              <div class="service">
                  <img src="assets/img/consultancy.svg" alt="Coding">
                  <h4>Databases</h4>
                  <p>Management databases experience with MySql, Sql Server and Oracle through (SQL Management, PL/SQL, SQL developer and Workbench)</p>
              </div><!-- /.service -->
          </div>
      </div>
  </div>
</section><!-- /.secton-skills -->





<section id="service2" class="site-section section-services overlay text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3>What i do</h3>
              <img src="assets/img/lines.svg" class="img-lines" alt="lines">
          </div>
          <div class="col-sm-4">
              <div class="service">
                  <img src="assets/img/front-end.svg" alt="Front End Developer">
                  <h4>Front-end</h4>
                  <p>I have experience in development for components in .Net Core with Blazor (3.1, 5, 6), HTML5, CSS3 with Bootstrap and javascript and currently I am developent in Angular 13</p>
              </div><!-- /.service -->
          </div>
          <div class="col-sm-4">
              <div class="service">
                  <img src="assets/img/back-end.svg" alt="Back End Developer">
                  <h4>Back-end and Integrations</h4>
                  <p>I have experience in .Net (C#, VB .Net) for desktop, and development Web with Web Forms, Web Service SOAP and APIS Rest, currently i development in .Net Core</p>
              </div><!-- /.service -->
          </div>
          <div class="col-sm-4">
              <div class="service">
                  <img src="assets/img/consultancy.svg" alt="Coding">
                  <h4>Databases</h4>
                  <p>I have experience with MySql, Sql Server and Oracle through (SQL Management, PL/SQL, SQL developer and Workbench)</p>
              </div><!-- /.service -->
          </div>
      </div>
  </div>
</section><!-- /.secton-services -->